.heading{
    font-size: 23px;
    width:100% ;
    margin:0px;
    box-shadow:5px 5px 5px white ;
 }
 
 .note{
     font-size:15px ;
     color: black;
 }
 
 .copy_right_footer{
     position: fixed;
     color: gray;
     bottom:0;
     width: 100%;
     background-color: white;
     line-height: 3;
     text-align: center;
 }
 
 .canvas{
     border: 5px solid gray;
     border-radius: 20px;
     box-shadow: 5px 5px 5px white;
 }
 